.hidden {
  display: none;
}

.slider-container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
}

#slider-image {
  width: 600px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.controls {
  margin-top: 15px;
}

.controls button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}
.card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  width: 250px;
  background: #f9f9f9;
  cursor: pointer;
}
.odd {
  background-color: #f0f0f0;
  color: blue;
}

.even {
  background-color: #ddd;
  color: green;
}
.output {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 300px;
  background: #f9f9f9;
}
